.neonText:hover {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #0fa,
    0 0 40px #0fa,
    0 0 50px #0fa,
    0 0 60px #0fa,
    0 0 70px #0fa;
}

.neonButton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #0fa,
    0 0 40px #0fa,
    0 0 50px #0fa,
    0 0 60px #0fa,
    0 0 70px #0fa;
}

.neonBox:hover {
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #0fa,
    0 0 40px #0fa,
    0 0 50px #0fa,
    0 0 60px #0fa,
    0 0 70px #0fa;
}
/* Darker hover effect for better contrast on dark backgrounds */
.dark-mode .neonText:hover,
.dark-mode .neonButton:hover,
.dark-mode .neonBox:hover {
  box-shadow:
    0 0 5px #08f,
    0 0 10px #08f,
    0 0 20px #08f,
    0 0 30px #08f,
    0 0 40px #08f,
    0 0 50px #08f,
    0 0 60px #08f,
    0 0 70px #08f;
}
